/* @font-face{
    src: url(..//Resources/Fonts/Nexa light.otf);
} */

.login-labels{
    font-size: 16px !important;
    font-family: Arial, Helvetica, sans-serif !important;
}
button.login-button.rounded-button.ui-btn.ui-btn-inline{
    width: 100% !important
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    img.Ipad-logo-size.logo-image{
        width: 60%;
        margin-bottom: -41px;
    }
    
    .login.ui-content{
        width: 50% !important;
    }
}
img.Ipad-logo-size.logo-image {
    margin-bottom: -20px;
}
img.register.Ipad-logo-size.logo-image {
    margin-top: -20px;
    margin-bottom: -50px;
}
img.forgot-password.Ipad-logo-size.logo-image {
    margin-top: 10px;
    margin-bottom: -50px;
}
.Register-Account-Text{
    margin-top:-10px;
}

.mySlides {
    display: none
}

.w3-left,
.w3-right,
.w3-badge {
    cursor: pointer
}

.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0;
    max-width: 433px !important;
}

.w3-content {
    max-width: 343px;
}

.w3-content,
.w3-auto {
    margin-left: 0;
    margin-right: 0;
}

.w3-white,
.w3-hover-white:hover {
    color: #000 !important;
    background-color: #ef963a !important;
}

.w3-text-khaki,
.w3-hover-text-khaki:hover {
    color: #ef963a!important;
}

.w3-left,
.w3-right {
    color: #ef963a;
}

.product-title-slideshow-container {
    width: auto;
    float: left;
}

.product-details-container {
    width: 50%;
    /* margin-right: auto; */
    margin-left: 29px;
    float: left;
    margin-top: 125px;
    /* margin-bottom: auto; */
    height: auto;
}

.product.ui-content {
    padding: 6em !important;
}

@media only screen and (max-device-width: 414px) {
    .product-title-slideshow-container {
        width: auto;
        float: none;
    }
    .product-details-container {
        margin-top: 2px;
        height: auto;
        float: none;
        width: auto;
    }

    .w3-content {
        max-width: 800px;
    }

    .w3-content,
    .w3-auto {
        margin-left: auto;
        margin-right: auto;
    }

    .product-details-container button{
        height: 90px;
        font-size: xx-large;
    }

    .product-details-container p{
        font-size: x-large;
    }
}

p.User-Profile-Edit.Register-Account-Text {
    float: right;
    padding-right: 50px;
    margin-top: 30px;
}
.User-Reg-Header.ui-header.ui-bar-inherit{
    border-style: none !important;
}
.header-image{
    width: 30px;
}
img.User-registration.Ipad-logo-size.logo-image {
    margin-bottom: -40px;
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    img.User-registration.Ipad-logo-size.logo-image{
        width: 50%;
        margin-bottom: -41px;
    }
    
    .login.ui-content{
        width: 50% !important;
    }
}