/* @font-face{
src: url(..//Resources/Fonts/Nexa light.otf);
} */

.ui-content {
    width: 90% !important;
}

.login-labels {
    font-size: 16px !important;
    font-family: Arial, Helvetica, sans-serif !important;
}

input {
    color: #000 !important;
}


/*Sheen css*/

.add-review-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.text-box-error {
    border: 1px solid #ff647c !important;
}

.login-processing {
    margin-top: 1em !important;
    margin-bottom: 2em !important;
    text-align: center;
    justify-content: center;
    display: none !important;
    grid-template-columns: 4% 40%;
    border: 1px solid #ef963a !important;
    border-radius: 9px !important;
    padding: 2px !important;
}

.processing-btn {
    text-align: center;
    justify-content: center;
    display: none !important;
    grid-template-columns: 4% 40%;
    padding: 3px !important;
    border: none;
}

.processing-text {
    width: auto;
    display: inline-block;
    padding: 0px !important;
    margin: unset;
    margin-top: 10px;
    padding-top: -10px !important;
}

.processing-btn-important {
    display: grid !important;
}

.review-container {
    padding: 10px;
}

.error-message {
    color: #ff647c !important;
    display: none;
}


/*Sheen css ends*/

button.login-button.rounded-button.ui-btn.ui-btn-inline {
    width: 100% !important;
}

img.Ipad-logo-size.logo-image {
    margin-bottom: -20px;
}

img.register.Ipad-logo-size.logo-image {
    margin-top: -20px;
    margin-bottom: -50px;
}

img.forgot-password.Ipad-logo-size.logo-image {
    margin-top: 10px;
    margin-bottom: -50px;
}

.Register-Account-Text {
    margin-top: -10px;
}

.mySlides {
    display: none;
}

.w3-left,
.w3-right,
.w3-badge {
    cursor: pointer;
}

.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0;
    max-width: 433px !important;
}

.w3-content {
    max-width: 343px;
}

.w3-content,
.w3-auto {
    margin-left: 0;
    margin-right: 0;
}

.w3-white,
.w3-hover-white:hover {
    color: #000 !important;
    background-color: #ef963a !important;
}

.w3-text-khaki,
.w3-hover-text-khaki:hover {
    color: #ef963a !important;
}

.w3-left,
.w3-right {
    color: #ef963a;
}

.product {
    display: grid;
}

.product-title-slideshow-container {
    width: auto;
    float: left;
}

.product-details-container {
    width: 100%;
    float: left;
    height: auto;
}

p.User-Profile-Edit.Register-Account-Text {
    float: right;
    padding-right: 50px;
    margin-top: 15px;
}

.User-Reg-Header.ui-header.ui-bar-inherit {
    border-style: none !important;
}

.header-image {
    width: 30px;
}

img.User-registration.Ipad-logo-size.logo-image {
    margin-bottom: -40px;
}

p.logout.User-Profile-Edit.Register-Account-Text {
    float: left;
    padding-left: 50px;
    margin-top: 15px;
    padding-bottom: 10px;
}

ul.Profile-Navigation-List.ui-listview {
    margin-top: 20px;
}

.UserNavigation.logout.User-Profile-Edit.Register-Account-Text {
    padding-left: 40px;
}

p.UserNavigation.User-Profile-Edit.Register-Account-Text {
    padding-right: 40px;
}

.UserNavigation-labels {
    font-weight: bold !important;
}

ul.Profile-Navigation-List.ui-listview {
    margin: 0em;
    margin-top: 60px;
    margin-bottom: 60px;
}

p.About-Us.Register-Account-Text {
    float: right;
    padding-right: 25px;
    margin-top: 10px;
}

img.About-Us.User-registration.Ipad-logo-size.logo-image {
    margin-top: -40px;
}

.footer-icons {
    width: 28px;
}

.footer-class {
    position: fixed !important;
    bottom: 0px !important;
    left: 0px !important;
    right: 0px !important;
    overflow: hidden !important;
}

.page-footer {
    background-color: #282d42 !important;
    border-color: #282d42 !important;
    font-weight: 0 !important;
}

.header-class {
    top: -1px;
    left: 0px;
    right: 0px;
    overflow: hidden;
}

.content-class {
    position: absolute;
    top: 70px;
    bottom: 30px;
    left: 0px;
    right: 0px;
    overflow: auto;
}

.btn-nav-bar {
    border-color: #282d42 !important;
}

.btn-nav-bar img {
    width: 20px;
    height: auto;
}

h1.header-title.ui-title {
    font-size: 22px !important;
    font-weight: normal;
}

.btn-home {
    display: inline-block;
    margin-top: 11px !important;
    border: solid 0px transparent;
    text-shadow: none;
    background-color: transparent !important;
    padding-top: 0px !important;
    height: 30px !important;
}

.btn-home img {
    margin-top: -17px;
    margin-left: -21px;
    height: 64px;
}

.btn-userprofile {
    display: inline-block;
    margin-top: 11px !important;
    border: solid 0px transparent;
    text-shadow: none;
    background-color: transparent !important;
    padding-top: 0px !important;
    height: 30px !important;
}

.btn-userprofile img {
    margin-right: -28px;
    margin-top: -2px;
    height: 36px;
}

.btn-camera {
    margin-right: -43px !important;
    display: inline-block;
    margin-top: 11px !important;
    border: solid 0px transparent;
    text-shadow: none;
    background-color: transparent !important;
    padding-top: 0px !important;
    height: 30px !important;
}

.btn-camera img {
    margin-right: -48px;
    height: 32px;
    padding-right: 35px;
}

li.second-nav-header {
    padding: 5px !important;
}

.navbar-header.ui-navbar {
    margin-right: 5px;
    margin-top: -2px;
    margin-top: 57px;
}

a.second-nav-header-radius.ui-link.ui-btn {
    border-radius: 5px;
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1px;
}

.item {
    margin: 13px;
    background: #6060602e;
    border-radius: 20px;
    width: 180px;
    height: 190px;
}

img.category-image-items-display {
    height: 67%;
    border-width: 0;
    width: 67%;
    display: block;
    margin: auto;
    margin-top: 20px;
}

p.Product-Price {
    text-align: left;
    line-height: 3px;
    margin-left: 20px;
    margin-top: 5px;
}

h3.product-addtocart-popup {
    text-align: center;
    font-size: 16px;
    margin-top: -20px;
    font-weight: bold;
}

.price {
    display: inline-block;
    font-size: 14px;
    line-height: 1px;
    font-weight: 100;
}

.float-price {
    float: right;
}

button.btn-nav-bar.addmore-button-quantity-popup.ui-btn.ui-btn-none.ui-corner-all {
    display: inline-block;
    float: right;
    width: auto;
    font-size: 10px;
    padding: unset;
    border: none;
    background: none;
    margin-top: 7px;
}

img.product-popup-icon {
    width: 14px;
    margin-left: 4px;
    margin-right: 4px;
}

.add-to-cart-button-div {
    background: #ef963a;
    display: inline-flex;
    border-radius: 29px;
    width: 29px;
    padding-bottom: 5px;
    padding: 7px;
}

img.add-to-cart-plus-icon {
    width: 25px;
    padding-left: 2px;
    margin-bottom: -2px;
}

.align-addtocart {
    float: right;
    margin-top: -5px;
    margin-right: 5px;
}

.align-favourite {
    float: right;
    margin-right: 10px;
    margin-bottom: -26px;
    margin-top: -2px;
    z-index: 9999 !important;
}

h3.heading.ui-content {
    margin-left: 1px !important;
    margin-bottom: -20px !important;
}

.search {
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
    margin-top: 70px;
}

.loader {
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
    margin-top: 70px;
}

.error {
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
    margin-top: 70px;
}

.loader-gif {
    width: 60%;
}

.pr-card {
    height: 300px;
    width: 350px;
    margin-top: 20px;
    margin-left: 9%;
}

.promotion-text {
    word-wrap: break-word;
}

img.loading-page-logo {
    width: 100% !important;
    margin-top: 140px !important;
}


/*ipad potrait*/

p.single-product-page-title {
    font-size: 25px;
    font-weight: 700;
    line-height: 1px;
}

.single-product-background.w3-content.w3-display-container {
    background: #6060602e;
    padding: 30px;
    border-radius: 30px;
}

span.single-product-page-photos-iconball.w3-badge.demo.w3-border.w3-transparent.w3-hover-white.w3-white {
    width: 20px;
    height: 20px;
}

.w3-large {
    font-size: 30px !important;
}

img.single-product.product-popup-icon {
    width: 20px;
    margin-left: 6px;
    margin-right: 15px;
    margin-top: 2px;
}

.single-product {
    font-size: 16px !important;
}

button.single-product-page.btn-nav-bar.addmore-button-quantity-popup.ui-btn.ui-btn-none.ui-corner-all {
    margin-right: -10px;
}

.favourites.ui-content {
    width: 100% !important;
    padding: unset;
}

.email-list-button {
    padding: 10px;
}

.order-main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.order-item {
    border-radius: 20px;
    width: 100%;
    height: auto;
}

.order-item-image {
    background: #6060602e;
    width: 35%;
    height: 136px;
    display: inline-block;
    border-radius: 20px;
    margin-right: 2px;
}

.order-item-text {
    width: 50%;
    height: 129px;
    display: inline-block;
    overflow: auto;
}

img.order-product.product-image-items-display {
    width: 120% !important;
    margin-top: 30px;
}

.orderhistpru.ui-content {
    width: 90% !important;
}

p.order-product-desctiption {
    margin-top: -15px;
}

.order-item {
    border: 2px solid;
    margin: 8px;
    margin-left: -12px;
    padding: 10px;
}

.checkout-btn-cart {
    padding: none !important;
    background: white;
}

p.payment-button0pay-label {
    display: inline-block;
    float: right;
    overflow: hidden;
    margin-top: 0px;
    margin-right: 20px;
    margin-top: 8px;
}

button.remove-from-cart.ui-btn.ui-btn-none.ui-corner-all {
    text-align: left;
    border: none;
    background: none;
    padding: 0px;
    margin-top: -2px !important;
}

.header-class.ui-header.ui-bar-inherit {
    position: fixed;
    z-index: 999;
}

.comment-user-icon {
    width: 30px !important;
}

.comment-rating-icon {
    width: 110px !important;
}

.comment-title {
    font-size: 16px;
}

p.comment-description {
    margin-top: -10px;
}

p.comment-description.single-product.price {
    margin-top: -16px;
}

.comment-section-background {
    background: #d9d9d987;
    padding: 10px;
    border-radius: 12px;
}

.product.ui-content {
    width: 90% !important;
}

img.mySlides {
    width: 100%;
    height: auto;
    display: block;
}

.w3-center.w3-container.w3-section.w3-large.w3-text-white.w3-display-bottommiddle {
    width: 45%;
    display: inline-flex;
}

img.product-image-items-display {
    width: 110%;
    margin-left: -10px;
    margin-bottom: -15px;
    margin-top: 15px;
    z-index: 1 !important;
}

p.this-will-work {
    display: inline;
    float: left;
    overflow: hidden;
    margin: 0;
    padding-left: 20px;
    margin-right: -25px;
    margin-top: 8px;
}

button.checkout-button-std-sht.login-button.ui-btn.ui-btn-inline.rounded-button {
    position: fixed;
    bottom: 3%;
    width: 95% !important;
    z-index: 99;
    left: 50%;
    transform: translate(-50%, -3%);
}

.leaderboard.ui-content {
    width: 100% !important;
    padding: 0;
}

.main-grid-for-topuser {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
}

.item--second-third {
    margin: 13px;
    background: #6060602e;
    border-radius: 20px;
    width: 140px;
    height: 160px;
}

.main-grid-for-second-third-user {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

img.leaderboard-user-icon.logo-image {
    width: 85%;
    margin-top: 10px;
}

.leaderboard-user-icon-second-third {
    width: 60%;
}

h4.user-game-points {
    text-align: center;
}

.leaderboard-participants.ui-content {
    background: #c0bebe36;
    border-radius: 10px;
}

.leaderboard-participants.ui-content {
    width: 77% !important;
}

.user-leaderboard {
    border-bottom: 1px solid;
    padding: 7px;
}

p.user-point.float-price {
    display: inline-block;
    font-size: 14px;
    line-height: 1px;
    font-weight: 100;
}

.leaderboard-participants-dashboard.ui-content {
    background: #c0bebe36;
    border-radius: 10px;
    width: 85% !important;
}

.front-page-slides {
    width: 100%;
    height: 200px;
}

.dropdown-filter-thing {
    width: 80% !important;
}

.footer-socicalmedia {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    justify-items: center;
    align-items: center;
}

.socical-media-icons {
    margin: 13px;
    background: #6060602e;
    border-radius: 20px;
    width: 60px;
    height: 60px;
}

img.promotion-card-image {
    max-width: 310px;
    border-radius: 10%;
}

h6.promotion-name.login-labels {
    margin: 0px;
    font-size: 20px !important;
    margin-bottom: -18px;
}

.promotions-page-thing.ui-content {
    padding: 0;
    margin: 0;
    width: 100% !important;
}

span.payment-lable-name {
    font-weight: 700;
}

a.filter-button.login-button.ui-btn.ui-btn-inline.rounded-button {
    width: 100% !important;
    padding0t: 10px !important;
    margin-bottom: -15px !important;
    margin-top: -14px !important;
    padding-top: 10px !important;
    height: 30px !important;
}

div#filter-popup {
    width: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -5%)
}

.main-promotions {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.promotion-views-two-slides {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.promotion-views-two-slides-boom-work {
    width: 36%;
}

.promotion-card {
    border-radius: 20px;
    padding: 20px;
}

.page-footer.footer-class.ui-footer.ui-bar-inherit {
    z-index: 1000;
}

img.review-rating-star {
    width: 100%;
}

.review-rating-star-legends {
    width: 47%;
}

img.bulletproof.order-product.product-image-items-display {
    margin-left: -22px;
    margin-top: 22px;
}

img.leaderboard-image {
    max-width: 100%;
}


/*Start of media queries/
/*Ipad Landcaoe*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    img.User-registration.Ipad-logo-size.logo-image {
        width: 50%;
        margin-bottom: -41px;
    }
    .login.ui-content {
        width: 50% !important;
    }
    .UserNavigation.logout.User-Profile-Edit.Register-Account-Text {
        padding-left: 250px;
    }
    p.UserNavigation.User-Profile-Edit.Register-Account-Text {
        padding-right: 250px;
    }
    ul.Profile-Navigation-List.ui-listview {
        margin: 0em;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    iframe#gmap_canvas {
        width: 510px;
    }
    p.About-Us.Register-Account-Text {
        padding-right: 260px;
    }
    img.Ipad-logo-size.logo-image {
        width: 60%;
        margin-bottom: -41px;
    }
    .login.ui-content {
        width: 50% !important;
    }
    .w3-content {
        max-width: 800px;
    }
    .product-details-container {
        width: 100%;
    }
    .main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .item {
        margin-left: 35px;
        margin-bottom: 30px;
    }
    .w3-content {
        max-width: 850px;
    }
    .product-details-container {
        width: 100%;
    }
    .single-product-background.w3-content.w3-display-container {
        padding: 70px !important;
    }
    .single-product.price {
        font-size: 20px;
    }
    .order-item-image {
        width: 25% !important;
    }
    .order-item-text {
        width: 74% !important;
    }
    img.Ipad-logo-size.logo-image {
        width: 60%;
        margin-bottom: -41px;
    }
    .login.ui-content {
        width: 50% !important;
    }
    .loader-gif {
        width: 30%;
    }
    .loader {
        margin-top: 92px;
    }
    .error {
        margin-top: 92px;
    }
    .search {
        margin-top: 92px;
    }
    button.checkout-button-std-sht.login-button.ui-btn.ui-btn-inline.rounded-button {
        width: 98% !important;
    }
    .leaderboard-participants.ui-content {
        width: 65% !important;
    }
    .front-page-slides {
        width: 100%;
        height: 300px;
    }
    .products-item {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 40% 56%;
    }
    .single-product {
        margin-top: 50px;
    }
    .single-product-margin {
        margin-top: 0px !important;
    }
    .quantity-label {
        line-height: 18px !important;
    }
    button.btn-nav-bar.addmore-button-quantity-popup.ui-btn.ui-btn-none.ui-corner-all {
        margin-top: 0px;
    }
    .pr-card {
        height: 310px;
        width: 77%;
        margin-top: 20px;
        margin-left: 20px;
    }
    img.promotion-card-image {
        max-width: 310px;
        border-radius: 25px;
    }
    .promotion-views-two-slides {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }
    .promotion-views-two-slides-boom-work {
        width: 68%;
    }
    .promotion-card {
        border-radius: 20px;
        padding: 20px;
    }
    .sunflower {
        margin-top: 26px;
    }
    img.review-rating-star {
        width: 60%;
    }
    .review-rating-star-legends {
        width: 22%;
    }
    img.leaderboard-image {
        /* max-width: 101%; */
        width: 100%;
    }
}


/*Ipad Potrait*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .item {
        margin-left: 35px;
        margin-bottom: 30px;
    }
    .w3-content {
        max-width: 820px;
    }
    .product-details-container {
        width: 100%;
    }
    .order-item-image {
        width: 31% !important;
    }
    .order-item-text {
        width: 68% !important;
    }
    img.register.Ipad-logo-size.logo-image {
        width: 65%;
    }
    img.Ipad-logo-size.logo-image {
        width: 65%;
    }
    iframe#gmap_canvas {
        width: 890px;
    }
    p.About-Us.Register-Account-Text {
        padding-right: 60px !important;
        margin-top: 30px !important;
    }
    p.UserNavigation.User-Profile-Edit.Register-Account-Text {
        padding-right: 80px !important;
    }
    .UserNavigation.logout.User-Profile-Edit.Register-Account-Text {
        padding-left: 80px !important;
    }
    h1.header-title.ui-title {
        font-size: 35px !important;
    }
    .header-class.ui-header.ui-bar-inherit {
        height: 54px;
    }
    .loader-gif {
        width: 40%;
    }
    .loader {
        margin-top: 210px;
    }
    .error {
        margin-top: 210px;
    }
    .search {
        margin-top: 210px;
    }
    .leaderboard-participants.ui-content {
        width: 70% !important;
    }
    .front-page-slides {
        width: 100%;
        height: 200px;
    }
    .products-item {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-gap: 1rem;
    }
    .single-product-margin {
        margin-top: 0px !important;
    }
    .single-product {
        font-size: 20px !important;
        margin-top: 10px;
    }
    button.btn-nav-bar.addmore-button-quantity-popup.ui-btn.ui-btn-none.ui-corner-all {
        margin-top: 0px;
    }
    .quantity-label {
        line-height: 18px !important;
    }
    .pr-card {
        height: 310px;
        width: 57%;
        margin-top: 20px;
        margin-left: 20px;
    }
    img.promotion-card-image {
        max-width: 310px;
        border-radius: 25px;
    }
    .promotion-views-two-slides {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }
    .promotion-views-two-slides-boom-work {
        width: 40%;
    }
    .promotion-card {
        border-radius: 20px;
        padding: 20px;
    }
    .sunflower {
        margin-top: 26px;
    }
    img.review-rating-star {
        width: 62%;
    }
    .review-rating-star-legends {
        width: 26%;
    }
    .btn-camera img {
        padding-right: 0px;
    }
}


/*Iphone Landscape*/

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    .prev {
        top: 48% !important;
    }
    .next {
        top: 48% !important;
        margin-right: 489px !important;
    }
    .prd-image {
        width: 207% !important;
        margin-left: -77px !important;
    }
    img.order-product.product-image-items-display {
        width: 125% !important;
        margin-left: -19px;
        margin-top: 21px;
    }
    img.register.Ipad-logo-size.logo-image {
        width: 50%;
    }
    .login.ui-content {
        width: 60% !important;
    }
    img.Ipad-logo-size.logo-image {
        width: 50%;
        margin-bottom: -40px !important;
        margin-top: -40px;
    }
    img.forgot-password.Ipad-logo-size.logo-image {
        width: 50%;
        margin-bottom: -40px !important;
        margin-top: -40px !important;
    }
    iframe#gmap_canvas {
        width: 480px;
    }
    p.About-Us.Register-Account-Text {
        padding-right: 125px !important;
        margin-top: 30px !important;
    }
    p.UserNavigation.User-Profile-Edit.Register-Account-Text {
        padding-right: 145px !important;
    }
    .UserNavigation.logout.User-Profile-Edit.Register-Account-Text {
        padding-left: 145px !important;
    }
    ul.Profile-Navigation-List.ui-listview {
        margin: 0em;
        margin-top: 20px !important;
        margin-bottom: 15px !important;
    }
    .header-class {
        top: -3px;
        left: 0px;
        right: 0px;
        overflow: hidden;
        height: 15%;
    }
    .main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .item {
        margin-left: 30px;
        margin-bottom: 30px;
    }
    .w3-content {
        max-width: 850px;
    }
    .product-details-container {
        width: 100%;
    }
    .products-item {
        display: grid;
        grid-template-columns: 40% 60%;
    }
    .single-product {
        font-size: 14px !important;
        margin-top: 30px;
    }
    .single-product-background {
        width: 57%;
        height: 158px;
    }
    .navbar-header.ui-navbar {
        margin-top: 46px;
    }
    img.single-product.product-popup-icon {
        width: 14px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 2px;
    }
    .review-title {
        padding: 10px;
    }
    .review-comment {
        padding: 5px;
    }
    .minus-icon {
        margin-top: -8px !important;
    }
    .plus-icon {
        margin-top: -8px !important;
    }
    .price {
        display: inline-block;
        font-size: 14px;
        line-height: 1px;
        font-weight: 100;
        margin-top: 0px !important;
    }
    button.single-product-page.btn-nav-bar.addmore-button-quantity-popup.ui-btn.ui-btn-none.ui-corner-all {
        margin-right: 0px;
    }
    .order-item-image {
        width: 22% !important;
    }
    .order-item-text {
        width: 66% !important;
        padding-left: 10px;
    }
    .header-class.ui-header.ui-bar-inherit {
        height: 48px;
    }
    .loader {
        margin-top: 0px;
    }
    .error {
        margin-top: 0px;
    }
    .search {
        margin-top: 0px;
    }
    .loader-gif {
        width: 22%;
    }
    .leaderboard-participants.ui-content {
        width: 70% !important;
    }
    .front-page-slides {
        width: 100%;
        height: 245px;
    }
    img.loading-page-logo {
        width: 100% !important;
        margin-top: 0px !important;
    }
    .main-promotions {
        display: grid;
        grid-template-columns: 100% !important;
    }
    .pr-card {
        height: 300px;
        width: 90%;
        margin-top: 10px;
        margin-left: 5%;
    }
    .promotion-views-two-slides {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }
    .promotion-views-two-slides-boom-work {
        width: 30%;
    }
    .promotion-card {
        border-radius: 20px;
        padding: 20px;
    }
    img.review-rating-star {
        width: 50%;
    }
    .review-rating-star-legends {
        width: 26%;
    }
    .btn-camera img {
        padding-right: 0px;
    }
}